body {
  background-color: blueviolet;
  display: flex;
  background-image: linear-gradient(to right, red, blue),
    url(../img/daniel-gzz-ELC0hD4AwB0-unsplash.jpg);
  backdrop-filter: blur;
}

.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
  background-color: rgb(50, 59, 56);
  margin: 2rem;
}

legend {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form-item-container {
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
}
